@media screen and (max-width:800px) {
    #nav{
        width: 100%;
        min-height: auto;
    }
    #content{
        width: 100%;
        min-height: auto;
    }
    #article{
        width: 100%;
        min-height: auto;
    }
}

span{
    font-size: 2vw;
    opacity: 0;
}
#headC,#headM,#headI{
    font-size: 5vw;
    color: aqua;
}
body{
    text-align: center;
}
#div1,#div2,#div3{
    background-color: lawngreen;
    height: 450;
    width: 200;
}
#div1{
    text-align: left;
}
#div2{
    text-align: center;
}
#div3{
    text-align: right;   
}

