@media screen and (max-width:800px) {
    #nav{
        width: 100%;
        min-height: auto;
    }
    #content{
        width: 100%;
        min-height: auto;
    }
    #article{
        width: 100%;
        min-height: auto;
    }
}

span{
    font-size: 2vw;
}
#headC,#headM,#headI{
    font-size: 5vw;
    color: aqua;
}

