*{
    margin: 0;
}

@media screen and (max-width:1000px) {
    #menu li{
        width: 100%;
        clear: both;
    }
    #menu a{
        width: 95vw;
        text-align: center;
    }
    #content{
        width: 100%;
        min-height: auto;
    }
}

img#logo0{
    float: left;
    width: 10vw;
}

img#pic, #vid{
    height: 60vh;
    max-width: 40vw;
}

#menu{
    padding: 0;
    margin: 0;
    width:100%;
    position:sticky;
    top:0;
    float:left;
    background-color: black;
    color: white;
}
header{
    background-color: white;
}
footer{
    background-color: white;
    clear: both;
}
body{
    text-align: center;
    background-image: url("../pics/bg.jpg");
    background-size: cover;
}
#content{
    margin: 10px;
    min-height: 70vh;
    font-size: x-large;
    float: left;
    text-align: left;
}
#content p{
    margin: 10px;
}
#menu ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#menu li{
    margin:0px;
    padding:0px;
    width: 10vw;
    float:left;
}
li a{
    display:block;
    text-decoration: none;
    font-size:16pt;
    font-weight: bold;
    color:white;
    padding: 20px;    
}
a.aktywna, li a:hover{
    background-color:aqua;
    color:black;
}
#cmi, #time{
    opacity: 0;
    font-weight: bold;
}

#robots ul{
    list-style-type: none;
}

#robots li{
    float: left;
    width: fit-content;
    background-color: black;
    color: white;
}

#robots li:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}





















































































































/*troll{
    load.song(https://www.youtube.com/watch?v=PXqcHi2fkXI)
}*/